/*General styles */

:root {
  --blue: #21abca;
  --off-white: #f4f4f4;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: "Roboto", sans-serif;
  font-size: 1rem;
  width: 100%;
  color: black;
  font-weight: 400;
  margin: 0;
  padding: 0;
}

main *,
main *::before,
main *::after {
  box-sizing: border-box;
}

h1 {
  font-family: Roboto;
  font-weight: 300;
  font-style: normal;
  color: black;
  font-size: 42px;
}

h2 {
  font-family: Roboto;
  font-weight: 700;
  font-style: normal;
  color: black;
  font-size: 2.5rem;
}

main p {
  font-size: 1rem;
  color: black;
  font-family: inherit;
  line-height: 1.625rem;
  font-weight: 400;
  margin: 1em 0;
}

a {
  text-decoration: none;
  color: black;
}

img {
  max-width: 100%;
  border: none;
  image-rendering: -webkit-optimize-contrast;
  -ms-interpolation-mode: nearest-neighbor;
}

.primary__btn {
  font-weight: bold;
  border-radius: 28px;
  background-color: var(--blue);
  padding: 9px 18px;
  display: inline-block;
  color: white;
  font-size: 14px;
  line-height: 18px;
  margin-top: 16px;
}

.bold {
  font-weight: bold;
}

.italic {
  font-style: italic;
}

.u {
  text-decoration: underline;
}

.container {
  max-width: 352px;
  margin: 0 auto;
  padding: 1rem;
}

.section__title {
  font-size: 38px;
  font-weight: 400;
  font-family: "Abril Fatface", cursive;
  line-height: 1.3;
  margin: 0.8em 0;
  max-width: 352px;
}

.section__subtitle {
  font-size: 13px;
  max-width: 352px;
  margin: 1rem auto;
  line-height: 1.3;
  max-width: 352px;
  margin-left: auto;
  margin-right: auto;
}

/* --Hero Section-- */
.hero {
  background-color: var(--off-white);
  overflow: hidden;
}
.hero .container {
  padding-top: 0;
  padding-right: 0;
  padding-bottom: 0;
  max-width: 440px;
}
.hero__wrapper {
  display: flex;
  align-items: center;
}
.hero__content {
  margin: 0 0 34px;
}
.hero .section__title {
  font-size: 42px;
}
.hero .section__subtitle {
  max-width: 185px;
}
.hero__cta a.primary__btn {
  min-width: 180px;
  text-align: center;
  margin-top: 8px;
}
.hero__image {
  font-size: 0;
}

.hero__image img {
  width: 460px;
  max-width: initial;
}

/* --What section-- */
.what {
  background-image: url("./images/waves-m.png");
  background-repeat: no-repeat;
  background-position: right 34px;
  background-size: 120px;
}
.what__image {
  position: relative;
  left: -15%;
}
/* --perks-- */
.perks {
  background-image: url("./images/circle-bg.png"), url("./images/dots.png"), url("./images/waves-m.png");
  background-repeat: no-repeat;
  background-position: left 0px, -54px bottom, right 85%;
  background-size: 70px, 170px, 120px;
  image-rendering: -webkit-optimize-contrast;
  -ms-interpolation-mode: nearest-neighbor;
}
.perks .container {
  max-width: 440px;
}
.perks .section__title {
  text-align: center;
  margin: 0 0 1em;
}
.perks__cards {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.perk__card {
  text-align: center;
  max-width: 160px;
  margin-bottom: 32px;
}

.perk__card__icon {
  text-align: center;
}
.perk__card__icon img {
  max-width: 80px;
}
.perk__card__title {
  font-weight: bold;
  font-size: 18px;
  letter-spacing: 2px;
  margin: 18px 0;
}
.perk__card__subtitle {
  font-size: 12px;
  line-height: 1.2;
  margin-top: 0;
  margin-bottom: 12px;
}
.perk__card__list {
  list-style-position: inside;
  padding-left: 0;
  margin: 0;
}
.perk__card__list li:before {
  content: "";
  display: inline-block;
  margin-left: -8px;
}
.perk__card__list li {
  font-size: 12px;
  margin: 0;
}
.perk__card__list li::marker {
  margin-right: 8px;
  margin-inline-end: 8px;
}
/* --How it works-- */
.works {
}
.works .container {
  padding: 0;
}
.works__wrapper {
  margin: 16px;
  padding: 26px 24px 32px;
  background-color: #b8e1e1;
  border-radius: 24px;
}
.works__image {
  font-size: 0;
}
.works__image img {
  border-radius: 24px;
  border: 4px solid white;
}
.works .section__title {
  text-align: center;
  margin-left: auto;
  margin-right: auto;
}
.works__cta {
  text-align: center;
}
.works__cta a.primary__btn {
  min-width: 180px;
  text-align: center;
  background-color: white;
  color: black;
}
/* --VIP-- */
.vip {
  background-color: #f6cad9;
  margin: 84px 0 0;
  padding-bottom: 16px;
}
.vip__image {
  position: relative;
  top: -40px;
}
.vip__content {
  margin-top: -48px;
}

/* --Desktop styles-- */

@media (min-width: 960px) {
  .section__title {
    font-size: 45px;
  }

  .section__subtitle {
    max-width: 610px;
    margin: 1rem auto;
    font-size: 15px;
  }

  .primary__btn {
    font-size: 16px;
    padding: 11px 22px;
  }

  .container {
    max-width: 1164px;
    margin: 0 16px;
    margin: 0 auto;
  }

  /* --Hero Section-- */
  .hero .container {
    max-width: 980px;
    margin-left: auto;
    margin-right: auto;
  }

  .hero__wrapper {
    justify-content: space-between;
  }
  .hero__content {
    margin: 24px 0 60px;
  }
  .hero .section__title {
    font-size: 58px;
    line-height: 1.2;
  }
  .hero .section__subtitle {
    max-width: 325px;
  }
  .hero__cta a.primary__btn {
    margin-top: 16px;
  }
  .hero__image img {
    max-width: 600px;
    width: 100%;
  }
  /* -- What section-- */
  .what {
    background-image: url("./images/waves-d.png");
    background-position: right bottom;
    background-size: 200px;
  }
  .what .container {
    max-width: 980px;
    padding: 64px 16px 42px;
  }
  .what__wrapper {
    display: flex;
  }
  .what__wrapper .what__content {
    order: 2;
    width: 50%;
  }
  .what__wrapper > div {
    width: 70%;
  }
  /* --perks-- */
  .perks {
    background-image: url("./images/circle-bg.png"), url("./images/dots.png"), url("./images/waves-d.png");
    background-size: 100px, 216px;
    padding-bottom: 230px;
    background-position: left 0px, 0px bottom, right 85%;
  }
  .perks .section__title {
    margin-bottom: 1.4em;
  }
  .perks .container {
    max-width: 1164px;
    margin-left: auto;
    margin-right: auto;
  }
  .perks .section__title {
    margin-left: auto;
    margin-right: auto;
  }
  .perks__cards {
    justify-content: space-between;
  }
  .perk__card {
    max-width: 200px;
  }
  .order-1-d {
    order: 1;
  }
  .order-2-d {
    order: 2;
  }
  .order-3-d {
    order: 3;
  }
  .order-4-d {
    order: 4;
  }
  .order-5-d {
    order: 5;
  }
  .perk__card__icon img {
    max-width: 100px;
  }
  .perk__card__title {
    font-size: 22px;
    margin-top: 28px;
  }
  .perk__card .perk__card__subtitle {
    font-size: 15px;
    margin-bottom: 16px;
  }
  .perk__card__list li {
    font-size: 15px;
  }
  /* --How it works-- */
  .works {
    margin-top: -200px;
  }
  .works__wrapper {
    display: flex;
    align-items: center;
    max-width: 1080px;
    margin-left: auto;
    margin-right: auto;
  }
  .works__image {
    max-width: 46%;
  }
  .works__image img {
    border-width: 6px;
  }
  .works__content {
    max-width: 46%;
    margin-left: auto;
    margin-right: auto;
  }
  .works .section__title {
    text-align: left;
    margin-left: 0;
    margin-top: 0;
  }
  .works .section__subtitle {
    max-width: 460px;
  }
  .works .works__cta {
    text-align: left;
  }
  /* --VIP-- */
  .vip {
    margin: 100px 0 60px;
    padding-bottom: 0;
  }
  .vip .container {
    min-height: 215px;
    padding-top: 24px;
  }
  .vip__wrapper {
    display: flex;
    align-items: center;
  }
  .vip__wrapper > div {
    width: 50%;
  }
  .vip__content {
    margin-left: -100px;
    z-index: 2;
  }
  .vip__image {
    top: -60px;
    margin-bottom: -104px;
  }
  .vip .section__title {
    max-width: 100%;
    margin-top: 0;
    margin-bottom: 20px;
  }
  .vip .section__subtitle {
    margin-bottom: 0;
  }
  .vip .section__title span {
    display: none;
  }
}
