/*General styles */

:root {
  --blue: #21abca;
  --off-white: #f4f4f4;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: "Roboto", sans-serif;
  font-size: 1rem;
  width: 100%;
  color: black;
  font-weight: 400;
  margin: 0;
  padding: 0;
}

main *,
main *::before,
main *::after {
  box-sizing: border-box;
}

h1 {
  font-family: Roboto;
  font-weight: 300;
  font-style: normal;
  color: black;
  font-size: 42px;
}

h2 {
  font-family: Roboto;
  font-weight: 700;
  font-style: normal;
  color: black;
  font-size: 2.5rem;
}

main p {
  font-size: 1rem;
  color: black;
  font-family: inherit;
  line-height: 1.625rem;
  font-weight: 400;
  margin: 1em 0;
}

a {
  text-decoration: none;
  color: black;
}

img {
  max-width: 100%;
  border: none;
  image-rendering: -webkit-optimize-contrast;
  -ms-interpolation-mode: nearest-neighbor;
}

.primary__btn {
  font-weight: bold;
  border-radius: 28px;
  background-color: var(--blue);
  padding: 9px 18px;
  display: inline-block;
  color: white;
  font-size: 14px;
  line-height: 18px;
  margin-top: 16px;
}

.bold {
  font-weight: bold;
}

.italic {
  font-style: italic;
}

.u {
  text-decoration: underline;
}

.container {
  max-width: 352px;
  margin: 0 auto;
  padding: 1rem;
}

.section__title {
  font-size: 38px;
  font-weight: 400;
  font-family: "Abril Fatface", cursive;
  line-height: 1.3;
  margin: 0.8em 0;
  max-width: 352px;
}

.section__subtitle {
  font-size: 13px;
  max-width: 352px;
  margin: 1rem auto;
  line-height: 1.3;
  max-width: 352px;
  margin-left: auto;
  margin-right: auto;
}

/* --Hero Section-- */
.hero {
  background-color: var(--off-white);
  overflow: hidden;
}
.hero .container {
  padding-top: 0;
  padding-right: 0;
  padding-bottom: 0;
  max-width: 440px;
}
.hero__wrapper {
  display: flex;
  align-items: center;
}
.hero__content {
  margin: 0 0 34px;
}
.hero .section__title {
  font-size: 42px;
}
.hero .section__subtitle {
  max-width: 185px;
}
.hero__cta a.primary__btn {
  min-width: 180px;
  text-align: center;
  margin-top: 8px;
}
.hero__image {
  font-size: 0;
}

.hero__image img {
  width: 460px;
  max-width: initial;
}

/* --What section-- */
.what {
  background-image: url("./images/waves-m.png");
  background-repeat: no-repeat;
  background-position: right 34px;
  background-size: 120px;
}
.what__image {
  position: relative;
  left: -15%;
}

/* --Desktop styles-- */

@media (min-width: 960px) {
  .section__title {
    font-size: 45px;
  }

  .section__subtitle {
    max-width: 610px;
    margin: 1rem auto;
    font-size: 15px;
  }

  .primary__btn {
    font-size: 16px;
    padding: 11px 22px;
  }

  .container {
    max-width: 1164px;
    margin: 0 16px;
    margin: 0 auto;
  }

  /* --Hero Section-- */
  .hero .container {
    max-width: 980px;
    margin-left: auto;
    margin-right: auto;
  }

  .hero__wrapper {
    justify-content: space-between;
  }
  .hero__content {
    margin: 24px 0 60px;
  }
  .hero .section__title {
    font-size: 58px;
    line-height: 1.2;
  }
  .hero .section__subtitle {
    max-width: 325px;
  }
  .hero__cta a.primary__btn {
    margin-top: 16px;
  }
  .hero__image img {
    max-width: 600px;
    width: 100%;
  }
  /* -- What section-- */
  .what {
    background-image: url("./images/waves-d.png");
    background-position: right bottom;
    background-size: 200px;
  }
  .what .container {
    max-width: 980px;
    padding: 64px 16px;
  }
  .what__wrapper {
    display: flex;
  }
  .what__wrapper .what__content {
    order: 2;
    width: 50%;
  }
  .what__wrapper > div {
    width: 70%;
  }
}
